@font-face {
    font-family: ps admin;
    src: url('CURRENT_SHOP_URL/fontLoader?t=eot&a=1');
    src: url('CURRENT_SHOP_URL/fontLoader?t=eot&a=1&#iefix') format('embedded-opentype'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff&a=1') format('woff'),
    url('CURRENT_SHOP_URL/fontLoader?t=ttf&a=1') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: ps admin;
    src: url('CURRENT_SHOP_URL/fontLoader?t=eot&w=bold&a=1');
    src: url('CURRENT_SHOP_URL/fontLoader?t=eot&w=bold&a=1&#iefix') format('embedded-opentype'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff&w=bold&a=1') format('woff'),
    url('CURRENT_SHOP_URL/fontLoader?t=ttf&w=bold&a=1') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: ps admin;
    src: url("CURRENT_SHOP_URL/fontLoader?t=eot&w=light&a=1");
    src: url('CURRENT_SHOP_URL/fontLoader?t=eot&w=light&a=1&#iefix') format('embedded-opentype'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff&w=light&a=1') format('woff'),
    url('CURRENT_SHOP_URL/fontLoader?t=ttf&w=light&a=1') format('truetype');
    font-weight: 300;
}
body, #page {
    font-family: ps admin, sans-serif!important;
}