@font-face {
    font-family: ps front;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('CURRENT_SHOP_URL/fontLoader?t=woff2') format('woff2'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff') format('woff');
}

@font-face {
    font-family: ps front;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('CURRENT_SHOP_URL/fontLoader?t=woff2&w=bold') format('woff2'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff&w=bold') format('woff');
}

@font-face {
    font-family: ps front;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('CURRENT_SHOP_URL/fontLoader?t=woff2&w=light') format('woff2'),
    url('CURRENT_SHOP_URL/fontLoader?t=woff&w=light') format('woff');
}
body, #page {
    font-family: ps front, sans-serif!important;
}
